<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="VictoriousTestDbContext" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=VictoriousLocalDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="VictoriousTestDbContext" connectionString="Data Source=RYANDESKTOP-PC;Initial Catalog=VictoriousLocalDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>