<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseDebug.Properties.Settings.VictoriousTestDatabaseConnectionString"
            connectionString="Data Source=RYANDESKTOP-PC;Initial Catalog=VictoriousTestDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>