
<div id="TournamentFinalize">
    <h2>Finalize Tournament</h2>
    @using (Html.BeginForm("Finalize", "Tournament", new { tourny = ViewBag.TournamentId }, FormMethod.Post))
    {
        <button type = "submit">Finalize Tournament</button>
    }
</div>