@model WebApplication.Models.TournamentViewModel

@{
    var playersRegistered = Model.Model.Users;
}


<div id="TournamentRegisteredPlayers">
    <h2>Registered Players</h2>
    <div class="registeredPlayers">
        <label class="opened">@playersRegistered.Count Players Registered</label>
        <ul class="list-table">
            <li class="list-table-body">
                <ul data-columns="6">
                    @foreach (var user in playersRegistered)
                    {
                        <li>@user.Username</li>
                    }
                </ul>
            </li>
        </ul>
    </div>
</div>
