@import "_colors.less";
@import "_mixins.less";
@import "_nav.less";


body {
    background-color: @color-primary-2;
    color: @white;
}

input:not([type="button"]) {
    background-color:@color-secondary-1-0;
    color: @white;
}

a:link, a:hover, a:visited {
    color: @white;
    text-decoration: none;
}