.form {
    label {
        display:block;
    }

    input, textarea {
        &:not([type="submit"]):not([type="button"]) {
            background-color:@color-secondary-1-0;
            color: @white;
        }
        
        margin-bottom: 1em;
    }
}