form {
    input[type="text"], input[type="password"] {
        border: 0em;
        border-bottom: .1em solid @white;
        padding: .5em 0em .5em 1em;
        background-color: inherit;
        color: @white;
    }

    label {
        display: block;
    }

    > * {
        padding: .5em;
    }

    .required {
        color: red;
    }
}
