.button-edit {
    background-image:url("~/Images/svg/pencil.svg");
    background-size:1.5em 1.5em;
    width:1.5em;
    height: 1.5em;
}

.button-delete {
    background-image:url("~/Images/svg/cross.svg");
    background-size:auto;
}

.button-add {
    background-image:url("~/Images/svg/plus.svg");
    background-size:auto;
}

.button-accept {
    background-image:url("~/Images/svg/checkmark.svg");
    background-size:auto;
}

.button-search {
    background-image:url("~/Images/svg/search.svg");
    width:1.5em;
    height: 1.5em;
}

.icon-pawn:after {
    &:hover {
        color: #ff6a00;
    }

    color: #FFFFFF;
}