body {
    background-color: @color-primary-2;
    color: @white;
}

a, a:link, a:visited {
    color: @white;
    text-decoration: none;
}

a:hover {
    color: @color-primary-4;
    text-decoration: underline;
}

ul, li {
    list-style-type: none;
    padding: 0em;
    margin: 0em;
}

label {
    display: block;
    padding: .25em 0em .25em 0em;
}

.message {
    display:block;
    padding: 1em;

    &:after {
        padding-bottom: 1em;
    }
    &.none {
        background-color:@alert-yellow;
    }

    &.success {
        background-color:@alert-green;
    }

    &.warning {
        background-color:@alert-orange;
    }

    &.exception,  &.critical {
        background-color:@alert-red;
    }
}

.dev-bp {
    position:absolute;
    top:0em;
    height:.5em;
    width: 97%;
    background-color: grey;
}

@media screen and (min-width: @@b1) {
	.dev-bp {
        background-color: blue;
	}
}
@media screen and (min-width: @@b2) {
	.dev-bp {
        background-color: violet;
	}
}
@media screen and (min-width: @@b3) {
	.dev-bp {
        background-color: yellow;
	}
}
@media screen and (min-width: @@b4) {
    .dev-bp {
        background-color: orange;
	}
}