ul.list-table {
    position: relative;
    display: table;
    width: 100%;
    min-height: 5em;
    height: inherit;

    li.list-table-header, li.list-table-body {
        ul {
            position: relative;

            &.border {
                border-bottom: .1em solid @white;
            }

            &.options {
                padding-bottom: 1.5em;
            }

            &.row-clickable {
                &:hover {
                    background-color: @color-primary-4;
                    color: @white;
                }
            }

            .grid(12);
        }
    }
}
