.columnSet(@value) {
    column-count: @value;
    -moz-column-count: @value;
    -webkit-column-count: @value;
}

.columnwidth(@value) {
    width: ((1/@value) * 94%);
}

.grid(@max, @index: 1) when (@index <= @max) {
    .grid(@max, (@index + 1));

    &[data-columns="@{index}"] {
        .column {
            display: inline-block;
            .columnwidth(@index);
        }
    }
}

.flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}