.Account{
    display: block;

    ul{
        li{
            text-decoration: underline;
        }
    }

    .settings {
        display:block;
    }

    .tournaments {
        display:block;
    }

    @media screen and (min-width: @@b1) {
	
    }
    @media screen and (min-width: @@b2) {
	
    }
    @media screen and (min-width: @@b3) {
	
    }
    @media screen and (min-width: @@b4) {
	
    }
}