#Account {
    position: relative;
    margin-top: 1em;

    .accountMenu {
        position: relative;
        background-color: @color-primary-1;

        > .menu {
            text-align: center;
            display: block;
            padding: .5em;
            .hover;

            &.active {
                background-color: @color-secondary-2-0;
                /*background-color: @color-primary-2;*/
            }
        }
    }

    .sections {
        > div {
            display: none;

            &.active {
                display: block;
            }

            h2 {
                margin-top: 0em;
                padding-top: 0em;
            }

            &#AccountTournaments {
                ul.list-table {
                    padding-bottom: 2em;

                    li.list-table-body {
                        ul {
                            padding: .5em 0em;
                        }
                    }
                }
            }

            &#AccountHistory {
            }

            &#AccountUpdate {
                .section {
                    ul {
                        li {
                            padding: .5em 0em;

                            input {
                                .placeholder(@white);
                            }
                        }
                    }
                }
            }

            &#AccountSettings {
            }
        }
    }
}

#AccountLogin {
    position: relative;
    width: 80%;
    max-width: 50em;
    margin: 0 auto;

    .hidden {
        display: none;
    }

    .loginTypes {
        .flexbox();
        padding: 1em 0;

        > * {
            flex: 1 0 50%;

            &.social-media {
                border-left: 2px solid @grey;
                text-align: right;
            }
        }
    }
}


#AccountRegister {
    .create-options {
        .flexbox();
        flex-direction: row;
        flex-wrap: wrap;
    }

    .hidden { 
        display: none;
    }
}


@media screen and (min-width: @@b1) {
    #AccountRegister, #AccountUpdate {
        .section {
            ul {
                .flexbox();
                flex-direction: row;
                flex-wrap: wrap;

                li {
                    flex: 1 0 50%;
                }
            }
        }
    }
}

@media screen and (min-width: @@b2) {
    #Account {
        position: relative;

        .accountMenu {
            position: relative;
            display: inline-block;
            width: 20%;
            height: 100%;
            vertical-align: top;
        }

        .sections {
            position: relative;
            display: inline-block;
            width: 79%;
            vertical-align: top;
        }
    }

    #AccountRegister {
        max-width: 50em;
        margin: 0 auto;
        .create-options {
            .section {
                width: 70%;

                li {
                    width: 50%;
                }
            }

            .social-media {
                width: 30%;
            }
        }
    }
}

@media screen and (min-width: @@b3) {
}

@media screen and (min-width: @@b4) {
}
