.Account{
    /*label {
        padding: .5em .25em .5em 0em;
        text-decoration: underline;
    }*/
 
    .tournaments {
        
        ul {
            li {
                border: .1em;
                border-color: @white;
                border-style: solid;
            }
        }

        > div {
            padding: .5em 1em 1em 1em;
        }

        .active {
            background-color: black;
        }
        .upcoming {
            background-color: orange;
        }
        .create {
            background-color: grey;
        }
    }

    .settings {
        label {
            
        }
    }

    @media screen and (min-width: @@b1) {
	
    }
    @media screen and (min-width: @@b2) {
	
    }
    @media screen and (min-width: @@b3) {
	
    }
    @media screen and (min-width: @@b4) {
	
    }
}