@import "Tournament/_Tournament.less";
@import "Tournament/_Create.less";
@import "Tournament/_Edit.less";
@import "Tournament/_Search.less";
@import "Tournament/_Standings.less";
@import "Tournament/_Bracket.less";
@import "Tournament/_Match.less";
@import "Tournament/_Game.less";

@media screen and (min-width: @@b1) {
    #TournamentCreate, #TournamentEdit {
        .section {
            &.form-section {
                li {
                    width: 48%;
                    display: inline-block;

                    input, select {
                        width: 90%;

                        &.datepicker, &.timepicker {
                            width: 48%;
                        }
                    }
                }
            }
        }
    }

    #Tournament {
        .content-header {
            h2, .tournament-buttons {
                display: inline-block;
            }
        }
    }

    .TournamentInfo {
        width: 75%;
    }
}

@media screen and (min-width: @@b2) {
    #TournamentCreate, #TournamentEdit {
        .section {
            &.form-section {
                li {
                    input, select {
                        width: 80%;

                        &.datepicker, &.timepicker {
                            width: 30%;
                        }
                    }
                }
            }
        }
    }

    #Tournament {
        .options {
            > span {
                padding: 0em .25em;
            }
        }

        .TournamentInfo {
            width: 60%;
        }
    }
}

@media screen and (min-width: @@b3) {
    .TournamentInfo {
        width: 40%;
    }
}

@media screen and (min-width: @@b4) {
    .TournamentInfo {
        width: 33%;
    }
}
