<footer>
    <ul class="list-table">
        <li class="list-table-header">
            <ul data-columns="3">
                <li>Placeholder1</li>
                <li>Placeholder2</li>
                <li>Placeholder3</li>
            </ul>
        </li>
        <li class="list-table-body">
            <ul data-columns="3">
                <li class="column"></li>
                <li class="column"></li>
                <li class="column"></li>
            </ul>
        </li>
    </ul>
    <div class="message warning">ALPHA BUILD @WebApplication.Utility.Codes.GetVersion()</div>
</footer>
