
<!DOCTYPE html5>
<html>
<head>
    <title>Tournament Platform</title>
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/css/_style1.css" />

</head>
<body>
    @Html.Partial("_Nav")
    @RenderBody()
    <footer>
        <p>
            Full Sail Software Development Team &copy;
        </p>
    </footer>
</body>
</html>