<div id="navagation" class="navavation">
    <div id="logo" class="logo">Logo</div>
    <div class="searchBar form">
        <form method="get" action="/Tournament/Search">
            <img class="fieldImage" src="~/Images/magnifying-glass-1976105.svg" />
            <input type="text" name="title" class="field" placeholder="Search Tournaments" />
        </form>
    </div>
    <ul>
        <a href="/"><li class="nav navElement">Home</li></a>
        <a href="/Tournament"><li class="nav navElement">Tournaments</li></a>
        @if (Session["User.UserId"] != null)
        {
            <a href="/Tournament/Create"><li class="nav navbar-right">Create Tournament</li></a>
            <a href="/Account"><li class="nav navbar-right">Account</li></a>
        }
        else
        {
        <a href="/Account/Register"><li class="nav navElement navbar-right">Register</li></a>
        <a href="/Account/Login"><li class="nav navElement navbar-right">Login</li></a>
        }
    </ul>
</div>