.bracket {
    .bracket-info {
        .name {
            padding: 0em;
            margin: 0em;
            display: inline-block;
        }

        .options {
            display: inline-block;

            .icon {
                display: inline-block;
            }
        }
    }

    .bracket-data {

        position: relative;

        .bracket-header {
            width: 100%;

            .column {
                display: inline-block;
                width: 100%;
                padding: 0em;
                margin: 0em;
                text-align: center;
            }
        }

        .round {
            position: relative;

            li {
                position:relative;
                vertical-align: middle;
                height: 100%;
            }
        }
    }
}
