.bracket {
    background-color: orange;

    .bracket-info {
        background-color: purple;
        
        .name {
            padding: 0em;
            margin: 0em;
            display: inline-block;
        }

        .options {
            display:inline-block;

            .icon {
                display: inline-block;
            }
        }
    }

    .bracket-data {
        position: relative;
        background-color: green;

        .bracket-header {
            text-align: center;
        }

        .round {
            background-color:black;
            position: relative;
            li {
                background-color: blue;
                vertical-align: middle;
            }
        }
    }
}