#TournamentCreate {
    .section {
        &.hide {
            display:none;
        }

        li {
            padding: .5em 0em;

            .input-validation-error {
                background-color: @alert-red;

                option {
                    color: @white;
                }
            }

            .field-validation-error {
                display: none;
            }

            .datepicker, .timepicker {
                width: 7em;
            }
        }
    }
}