#TournamentEdit {
    .section {
        .hide {
            display: none;
        }

        &.form-section {
            .icon.hide {
                display: none;
            }

            li {
                padding: .5em 0em;

                .datepicker, .timepicker {
                    display:inline-block;
                    width: 7em;
                }
            }

            .input-validation-error {
                background-color: @alert-red;

                option {
                    color: @white;
                }
            }

            .field-validation-error {
                display: none;
            }
        }

        .info {
            ul {
                .flexbox();

                padding: .5em 0;
                vertical-align: middle;
                border-bottom: 1px solid @white;

                .switch {
                    vertical-align: middle;
                }

                > li {
                    flex: 1 1 auto;
                    align-self: flex-end;

                    &.options {
                        text-align: right;
                        padding: 0 1em;
                    }
                }
            }
        }
    }
}
