#TournamentEdit {
    .section {
        &.form-section {
            li {
                padding: .5em 0em;

                .datepicker, .timepicker {
                    width: 7em;
                }

                &.hide {
                    display: none;
                }
            }

            .input-validation-error {
                background-color: @alert-red;

                option {
                    color: @white;
                }
            }

            .field-validation-error {
                display: none;
            }
        }

        &.user-section {
            /*background-color: red;*/
            .user {
                padding: .25em 0em;

                > li {
                    vertical-align: middle;
                }
            }
        }
    }
}