.TournamentGames {
    position: absolute;
    opacity: .95;
    background-color: black;
    z-index: 1;
    min-width: 14em;
    padding: .5em .1em;
    width: 100%;
    display: none;

    &.open {
        display: block;
    }

    h2 {
        display: inline-block;
    }

    .options {
        display: inline-block;
        
        .add-game {
            &.hide {
                display: none;
            }
        }
    }

    /* OVERRIDE */
    ul.list-table {
        li.list-table-header, li.list-table-body {
            ul {
                .column {
                    text-align: center;
                    text-overflow: clip;
                    overflow: hidden;
                    white-space:nowrap;
                }

                .grid(4);
            }
        }
    }

    .score {
        input {
            width: 2.5em;
            &.invalid {
                background-color: @alert-red;
                color: @white;
            }
        }

        &.no-edit {
            input {
                background-color: inherit;
                border: none;
            }
        }
    }

    .update-games {
        &.hide {
            display: none;
        }
    }
}
