.TournamentMatch {
    position: relative;
    padding: 0em 0em;

    label {
        display:inline-block;
    }

    .options {
        display: inline-block;
        /*position: absolute;
        top: 0em;
        right: 0em;*/
    }

    .overview {
        background-color: @match-color;
        border: 1px solid @white;
        overflow: hidden;

        .defender, .challenger {
            white-space:nowrap;
            position: relative;
            padding: .1em;
            overflow: hidden;

            &:hover {
                background-color: @color-primary-0;
            }

            .score {
                position: absolute;
                right: 0em;
                top: 0em;
                height: 1.5em;
                line-height: 1.5em;
                text-align: right;
                padding: 0em .25em;
                /*background-color: red;*/
                border-left: 1px solid @white;
            }
            .score-edit {
                display: none;
            }
        }

        .defender {
            border-bottom: 1px solid @white;
        }
    }

    .details {
        text-align:center;
    }

    .games {

    }

    /*&.grandFinal {
        position: relative;
        top: -35%;
    }*/
}
