#TournamentRegisteredPlayers {
    width: 100%;

    .registeredPlayers {
        label {
            &.opened {
                &:after {
                    content: "X";
                }

                .list-table {
                    display: block;
                }
            }

            &.closed {
                &:after {
                    content: "+";
                }
                
                .list-table {
                    display:none;
                }
            }
        }
    }
}
