#Tournament {
    position: relative;
    width: 100%;

    .content-header {
        width: 100%;
        .tournamentTitle {
            margin-bottom: 0em;
            padding: 0em;
        }
        .tournament-buttons {
            display: inline-block;
        }

        .gameTitle {
            margin-top: 0em;
        }
    }

    .match-edit-module {
        &.open {
            display: block;
        }

        display: none;
        position: absolute;
        top: 0em;
        width: 100%;
        background-color: green;
        height: 100%;

        .module-content {
            padding: 1em;

            .editHeader {
                h2 {
                    display:inline-block;
                }
                .options {
                    display:inline-block;
                }
            }

            .overview {
                display: none;
            }

            .games {
                display: block;
            }
        }
    }
}
