@model WebApplication.Models.AccountViewModel
@{
    ViewBag.Title = "Account";
    ViewBag.ClassName = "account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="@ViewBag.Title">
    <h2>Account Display Page</h2>
    <label>Hello @Model.userModel.Username</label>
    <div class="tournaments">
        <ul>
            <li>Currently Registered Tournaments</li>
            <li>Past Tournaments</li>
        </ul>
    </div>

    <div class="settings">
        <label>Account Settings</label>
        <ul>
           <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
        </ul>
    </div>
</div>