@model WebApplication.Models.AccountViewModel
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Account">
    <div class="accountMenu">
        <ul>
            <li>Settings</li>
            <li>History</li>
            <li>Tournaments</li>
            <li>Create Tournament</li>
            @if (Model.IsAdministrator())
            {
                <li>Administration</li>
            }
            <li>Logout</li>
        </ul>
    </div>
</div>