@model WebApplication.Models.AccountViewModel
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Account Display Page</h2>

<div class="account">
    <label>Hello @Model.userModel.Username</label>
    <div class="settings">
        <label>Account Settings</label>
        <ul>
           <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
        </ul>
    </div>
    <div class="tournaments">
        <ul>
            <li>Currently Registered Tournaments</li>
            <li>Past Tournaments</li>
        </ul>
    </div>
</div>