@model WebApplication.Models.LoginViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Register</h2>
<div class="register">
    <label>Registration</label>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <div class="login field">
            <label for="Username">Username:</label>
            <input type="text" name="Username" class="registerInput" placeholder="Username" />
        </div>
        <div class="login field">
            <label for="Password">Password:</label>
            <input type="password" name="Password" class="registerInput" placeholder="Password" />
        </div>
        <div class="login">
            <input type="submit" value="Login" />
        </div>
    }
</div>