@model WebApplication.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Register</h2>
<div class="register">
    <label>Registration</label>
    @using (Html.BeginForm("RegisterUser", "Account", FormMethod.Post))
    {
        <div class="register field">
           <label for="Username">Username:</label>
           <input type="text" name="Username" class="registerInput" placeholder="Username"/>
        </div>
        <div class="register field">
            <label for="Email">Email:</label>
            <input type="text" name="Email" class="registerInput" placeholder="Email" />
        </div>
        <div class="register field">
            <label for="Password">Password:</label>
            <input type="password" name="Password" class="registerInput" placeholder="Password" />
        </div>
        <div class="register field">
            <label for="PasswordVerify">Verify Password:</label>
            <input type="password" name="PasswordVerify" class="registerInput" placeholder="Verify Password" />
        </div>
        <div class="register">
            <input type="submit" value="Register"/>
        </div>
    }
</div>