@model WebApplication.Models.ViewModels.AccountRetrieveViewModel

@{
    ViewBag.Title = "Retrieve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="AccountRetrieve">
    Seems like you are needing assistance to get your account back... Lets figure this out.
</div>

