@model Tournament.Structure.IGame

@{ 

}

<div id="TournamentMatchGames">
    <div class="game" data-gamenum="@Model.GameNumber">
        <div class="defender">
            Defender
        </div>
        <div class="challenger">
            Challenger
        </div>
    </div>
</div>