@model Tournament.Structure.IBracket


<div id="TournamentStandings">
    <div class="title">
        <h2>Tournament Standings</h2>
        <img class="tournament-standings" src="~/Images/svg/cross.svg" />
    </div>
    <ul class="list-table standings">
        <li class="list-table-header">
            <ul class="border" data-columns="3">
                <li>Rank</li>
                <li>Name</li>
                @if (Model.BracketType == DataLib.BracketTypeModel.BracketType.ROUNDROBIN)
                {
                    <li>RR Score</li>
                }
            </ul>
        </li>
        <li class="list-table-body">
            @if (Model.Rankings != null)
            {
                for (int i = 0; i < Model.Rankings.Count; i++)
                {
                    Tournament.Structure.IPlayerScore rank = Model.Rankings[i];

                    <ul class="border" data-columns="3">
                        <li class="position-rank">@rank.Rank</li>
                        <li class="position-name">@rank.Name</li>
                        @if (Model.BracketType == DataLib.BracketTypeModel.BracketType.ROUNDROBIN)
                        {
                            <li class="position-score">@rank.Score</li>
                        }
                    </ul>
                }
            }
            else
            {
                <div>No data is available yet.</div>
            }
        </li>
    </ul>
</div>