@model Tournament.Structure.ITournament


<div id="TournamentStandings">
    <div class="title">
        <h2>Tournament Standings</h2>
        <span class="icon icon-cross tournament-standings"></span>
    </div>
    @foreach (var bracket in Model.Brackets)
    {
    <ul class="list-table standings">
        <li class="list-table-header">
            <ul class="border" data-columns="3">
                <li>Rank</li>
                <li>Name</li>
                @if (bracket.BracketType == DataLib.BracketTypeModel.BracketType.ROUNDROBIN)
                {
                    <li>RR Score</li>
                }
            </ul>
        </li>
        <li class="list-table-body">
            @if (bracket.Rankings != null)
            {
                for (int i = 0; i < bracket.Rankings.Count; i++)
                {
                    Tournament.Structure.IPlayerScore rank = bracket.Rankings[i];

                    <ul class="border" data-columns="3">
                        <li class="position-rank">@rank.Rank</li>
                        <li class="position-name">@rank.Name</li>
                        @if (bracket.BracketType == DataLib.BracketTypeModel.BracketType.ROUNDROBIN)
                        {
                            <li class="position-score">@rank.Score</li>
                        }
                    </ul>
                }
            }
            else
            {
                <div>No data is available yet.</div>
            }
        </li>
    </ul>
    }
</div>