@model WebApplication.Models.BracketViewModel

@{
    int rounds = Model.TotalRounds();
}

<li class="list-table-body">
    <ul data-columns="@rounds">
        @for (int i = 1; i <= rounds; i++)
        {
            <li>
                @foreach (var match in Model.Bracket.GetRound(i))
                {
                    Html.RenderPartial("Brackets/Shared/_Match", new WebApplication.Models.MatchViewModel(match));
                }
            </li>
        }
    </ul>
</li>