@model WebApplication.Models.BracketViewModel

@{
    ViewBag.Section = WebApplication.Models.BracketSection.UPPER;
    ViewBag.RoundShowing = Model.RoundShowing(WebApplication.Models.BracketSection.UPPER);
    ViewBag.Class = "upper";

    Html.RenderPartial("Brackets/Shared/_Header", Model, new ViewDataDictionary(ViewData));
}

<li class="list-table-body">
    <ul class="round" data-columns="@Model.TotalDispalyRounds()">
        @for (int i = 1; i <= Model.TotalDispalyRounds(); i++)
        {
            <li class="column">
                @foreach (var match in Model.Bracket.GetRound(i))
                {
                    Html.RenderPartial("Brackets/Shared/_Match", new WebApplication.Models.MatchViewModel(match), new ViewDataDictionary(ViewData));
                }
            </li>
        }
    </ul>
    <button>Hello</button>
</li>