@model WebApplication.Models.Home
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="About">
    <h2>About</h2>
    <div>
        Victorious Tournaments is a website for aiding in the management of tournaments for all 
        communities including: esports and traditional sports. The platform allows users to create 
        tournaments that allow players to enter the tournament themselves, so you can get back to 
        the more important things in your community.
    </div>
</div>
