@model WebApplication.Models.Home
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Blog">
    <h2>Blog</h2>
    <div>
        Our blog is currently not setup yet.
    </div>
</div>
