@model WebApplication.Models.ViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Tournament Platform</h2>
<div>
    Hello to the beautiful world of Tournaments.
</div>

