@model WebApplication.Models.Model
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tournament Platform</h2>
<div>
    Hello to the beautiful world of Tournaments.
</div>

