
@{
    ViewBag.Title = "Tournaments";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Tournaments</h2>
<ul>
    <p></p>
@{ 
    

    for(int i = 1; i <= 10; i++)
    {
        <li>Tournament @i</li>
    }
}
</ul>