@model WebApplication.Models.Admin

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Administrator">
    <h2>Admin Menu</h2>
    <div class="section">
        @{ Html.RenderPartial("Games", Model.gameType); }
    </div>
    <div class="section">
        @{ Html.RenderPartial("Platforms", Model.platformTypes); }
    </div>
    <div class="section">
        @{ Html.RenderPartial("Brackets", Model.bracketTypes); }
    </div>
</div>