@model WebApplication.Models.AdministratorViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Administrator">
    <h2>Admin Menu</h2>
    <div class="section">
        @{ Html.RenderPartial("Games", Model.LoadGameTypes()); }
    </div>
</div>