@model WebApplication.Models.TournamentViewModel

@{ 
    int maxRounds = 0;
    var tourny = Model.Tourny;
    var bracket = tourny.Brackets[0];
    var topBracket;
    var botBracket = bracket.GetLowerRound();
}

<ul class="list-table">

    @{ 
        // This will need to be expanded to add 2-form tournaments
        Html.RenderPartial("Brackets/_DoubleElimination", Model);
    }

    <li class="match-edit-module">
        <div class="module-background"></div>
        <div class="module-close"><img class="close clickable" src="~/Images/svg/cross.svg" /></div>
        <div class="module-content">
            <h2>Winner Selection</h2>
            <div class="match">

            </div>
            <div class="match-submit">
                <button type="button">Submit Winner</button>
            </div>
        </div>
    </li>
</ul>