@model WebApplication.Models.Tournament

<div id="TournamentBroadcasts">
    <div class="background-overlay"></div>
    <div class="options">
        <span class="icon icon-cross close"></span>
    </div>
    <div class="broadcasts">
        <iframe src="http://player.twitch.tv/?channel=pippestrello&autoplay=false"
                frameborder="0"
                scrolling="no"
                allowfullscreen="allowfullscreen"></iframe>
        <iframe src="http://player.twitch.tv/?channel=twister1002&autoplay=false"
                frameborder="0"
                scrolling="no"
                allowfullscreen="allowfullscreen"></iframe>
        <iframe src="http://player.twitch.tv/?channel=pippestrello&autoplay=false"
                frameborder="0"
                scrolling="no"
                allowfullscreen="allowfullscreen"></iframe>
        <iframe src="http://player.twitch.tv/?channel=twister1002&autoplay=false"
                frameborder="0"
                scrolling="no"
                allowfullscreen="allowfullscreen"></iframe>
        <iframe src="http://player.twitch.tv/?channel=pippestrello&autoplay=false"
                frameborder="0"
                scrolling="no"
                allowfullscreen="allowfullscreen"></iframe>
        <iframe src="http://player.twitch.tv/?channel=twister1002&autoplay=false"
                frameborder="0"
                scrolling="no"
                allowfullscreen="allowfullscreen"></iframe>
    </div>
</div>
