@model WebApplication.Models.Tournament

<div id="TournamentBroadcasts">
    <div class="background-overlay"></div>
    <div class="options">
        <span class="icon icon-cross close"></span>
    </div>
    <div class="broadcasts">
        @foreach (var broadcasters in Model.Model.TournamentBroadcasters)
        {
            <iframe src="@broadcasters.BroadcastService.GetUri().Replace("{NAME}", broadcasters.BroadcasterName)"
                    frameborder="0"
                    scrolling="no"
                    allowfullscreen="allowfullscreen"></iframe>
        }
    </div>
</div>
