@model WebApplication.Models.TournamentFormModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="TournamentDelete">
    Are you sure you wish you delete this tournament?
    <button>Yes</button>
    <button>No</button>
</div>