@model WebApplication.Models.TournamentViewModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="TournamentDelete">
    <h2>Delete Tournament @Model.Model.Title</h2>
    @using (Html.BeginForm("Delete", "Tournament", FormMethod.Post, new { @id = Model.Model.TournamentID }))
    {
        <div class="info">
            Are you sure you wish you delete this tournament ?
            <button type="submit">Yes</button>
            <button type="button">No</button>
        </div>
    }
</div>