@model DataLib.TournamentModel
@{ 
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Index</h2>
Searching for: @Model.Title
<div class="Tournaments">
    This feature is not available. 
    Missing: DatabaseInterface::SearchTournaments()
</div>