@model WebApplication.Models.TournamentViewModel
@{ 
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    List<WebApplication.Models.FakeTournamentModel> tournaments = Model.Search(null);
}

<h2>Index</h2>
Searching for: @Model.Title
<div class="Tournaments">
    <ul>
    @foreach (WebApplication.Models.FakeTournamentModel tourny in tournaments)
    {
        <li>@tourny.Title</li>
    }
    </ul>
</div>