@model WebApplication.Models.Tournament
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="TournamentSearch">
    <h2>Select A Game</h2>
    <div class="games">
        @{
            List<KeyValuePair<DatabaseLib.GameTypeModel, int>> games = Model.GetAllGamesWithTournaments();

            foreach (KeyValuePair<DatabaseLib.GameTypeModel, int> game in games)
            {
                <div class="game">
                    <img src="" alt="@game.Key.Title" />
                    <div class="info">
                        <div class="title">@game.Key.Title</div>
                        <div class="tornaments">@game.Value</div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="available-tournaments"></div>
</div>