
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Index</h2>

<div class="Tournaments">
    <ul>
    @for(int i = 0; i < 10; i++)
    {
        <li>Tournament @i</li>
    }
    </ul>
</div>