@model WebApplication.Models.TournamentSearchViewModel
@{ 
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Tournaments">
    <h2>Searching for </h2>
    This feature is not available. 
    Missing: DatabaseInterface::SearchTournaments()
</div>