@model DataLib.TournamentModel

@{
    ViewBag.Title = "Tournament";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Tournament - @Model.Title</h2>
<div>
    Functionality for this viewing is not complete yet
</div>
<div id="Tournament">
    @for (int i = 0; i <= 6; i++)
    {
        <div class="match">
            <ul>
                <li class="team"><div class="seed">1</div>Challenger</li>
                <li class="team"><div class="seed">2</div>Defender</li>
            </ul>
        </div>
    }
</div>