@model WebApplication.Models.TournamentViewModel

@{
    ViewBag.Title = "Tournament";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Tournament - @Model.tourny.Title</h2>
<div id="Tournament">
    @{int match = 0; }
    @for (int roundNum = @Model.tourny.Brackets[0].Rounds.Count()-1; roundNum >= 0; roundNum--)
    {
        var round = Model.tourny.Brackets[0].Rounds[roundNum];
        <div class="round round-@roundNum">
            @for (int matchNum = 0; matchNum < round.Count(); matchNum++)
            {
                match++;
                <div class="match match-@match">
                    <label>@match</label>
                    <ul class="matchInfo">
                        @foreach (var player in round[matchNum].PlayerIndexes)
                        {
                            <li class="team"><div class="seed">@player</div>Name</li>
                        }
                    </ul>
                </div>
            }
        </div>
    }
</div>