
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="error">
    <h2>Access Denied</h2>
    <div class="message">
        You're not allowed here! You should go before someone catches you!
    </div>
</div>

