
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="error">
    <h2>Internal Server Error</h2>
    <div class="message">
        Well this is embarssing! However, there seems to be some kind of problem...
    </div>
</div>

