
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="error">
    <h2>Page Not Found</h2>
    <div class="message">
        Well somehow you manage to stumble upon a page that doesn't exist... Might want to retrace your steps.
    </div>
</div>

