@model WebApplication.Models.GameViewModel

<div class="game" data-gameid="@Model.Game.Id" data-gamenumber="@Model.Game.GameNumber">
        <div class="defender">
            <div class="name">
                Defender Name
            </div>
            <div class="score">
                Defender Score
            </div>
            <div class="score-edit">
                <input type="text" name="gameScore" maxlength="3" />
            </div>
        </div>
        <div class="challenger">
            <div class="name">
                Challenger
            </div>
            <div class="score">
                Challenger Score
            </div>
            <div class="score-edit">
                <input type="text" name="gameScore" maxlength="3" />
            </div>
        </div>
</div>