@model WebApplication.Models.GameViewModel

<li class="game-number">
    Game @Model.Game.GameNumber
</li>
<li class="score">
    <input type="text" name="defender-score" maxlength="3" value="-1" />
</li>
<li class="score">
    <input type="text" name="challenger-score" maxlength="3" value="-1" />
</li>