@model WebApplication.Models.BracketViewModel

@{ 
    int rounds = Model.TotalRounds();
}

<li class="list-table-header bracket-header">
    <ul class="header-rounds" data-columns="@rounds">
        @for (int i = 1; i <= rounds; i++)
        {
            <li>
                Round @i
                @if (!Model.Bracket.IsFinalized)
                {
                    <div>
                        @Html.DropDownList("bestOfMatches", Enumerable.Range(1, 15).Select(n => new SelectListItem() { Text = n.ToString(), Value = n.ToString() }),  new { @class="bestOfMatches" })
                    </div>
                }
                else
                {
                    <div>Best of @Model.Bracket.GetRound(i)[0].MaxGames</div>
                }
            </li>
        }
    </ul>
</li>
